/*navbar*/

nav
{
    height: 59px;
    background: rgba(19, 18, 18, 0.8);
    z-index: 2;
}

.navbar-brand
{
    font-family: 'Jost', sans-serif;
}

.btn-close
{
    background-color: #FFFFFF;
}

nav ul
{
    justify-content: space-between !important;
}

nav ul li a
{
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 60px;
    letter-spacing: 0.5px;
    transition: 0.5s !important;
}

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color:rgb(88, 90, 90);
    margin: auto;
    display: block;
}

nav ul li a:hover::after
{
    width: 100%;
    transition: width 0.5s ease;
    margin-top: -5px;
}

nav ul li a:hover
{
    font-size: 17px !important;
    color: #fff;
}

/*titulo*/

#imgdif
{
    width: 100%;
    opacity: 0.9;
}

.titulo
{
    position: absolute;
}

.galery
{ 
    margin: auto;
}

.vambora
{
    font-family: 'Jost', sans-serif;
    z-index: 10;
    position: relative;
    width:  160px;
    padding: 5px;
    color: #fff;
    margin-top: -400px;
    margin-left: 35%;
    font-size: 100px;
}

.pt2
{
    z-index: 10;
    position: relative;
    font-family: 'Jost', sans-serif;
    color: #fff;
    margin-left: 35%;
    font-size: x-large;
}

/*div o que é*/

.Oqueé
{
    width: 100%;
    height: 1600px;
    background-color: #364655;
    position: absolute;
}

.div1blue
{
    margin-left: 200px;
    margin-top: 100px;
    width: 70%;
    height: 1400px;
    background-color: #4F5F6F;
    position: relative;
}

.imgoqe
{
    width: 400px;
    margin-left: 70px;
    margin-top: 50px;
}

.h2oqe
{
    color: #fff;
    margin-left: 380px;
    text-align: center;
    margin-top: -260px;
}

.oqetxt1
{
    color: #fff;
    width: 270px;
    margin-top: 150px;
    margin-left: 110px;
}

.oqetxt2
{
    color: #fff;
    width: 270px;
    margin-top: -210px;
    margin-left: 510px;
}

.oqetxt3
{
    color: #fff;
    width: 270px;
    margin-top: 50px;
    margin-left: 110px;
}

.oqetxt4
{
    color: #fff;
    width: 270px;
    margin-top: -185px;
    margin-left: 510px;
}

.oqetxt5
{
    color: #fff;
    width: 270px;
    margin-top: 35px;
    margin-left: 110px;
}

.oqetxt6
{
    color: #fff;
    width: 270px;
    margin-top: -210px;
    margin-left: 510px;
}

.oqetxt7
{
    color: #fff;
    width: 270px;
    margin-top: 50px;
    margin-left: 110px;
}

.oqetxt8
{
    color: #fff;
    width: 270px;
    margin-top: -200px;
    margin-left: 510px;
}

strong
{
    font-family: 'Inter', sans-serif;
}

/*div perfis*/

.perfis1
{
    margin-top: 1600px;
    background-color: #364655;
    height: 2700px;
}

h2
{
    color: #97C7FF;
    font-family: 'Inter', sans-serif;
}

.align1
{
    margin-left: 45%;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
}

.align2
{
    font-weight: 700;
    color: #fff;
    margin-left: 35%;
    font-family: 'Inter', sans-serif;
}

.imgwt
{
    margin-top: 100px;
    margin-left: 300px;
    width: 210px;

}

.imgwt2
{
    margin-top: 100px;
    margin-left: 300px;
    width: 210px;
}

.imgwt3
{
    margin-top: 80px;
    margin-left: 300px;
    width: 210px;
}

.imgwt4
{
    margin-top: 100px;
    margin-left: 300px;
    width: 220px;
}

h4
{
    color: #97C7FF;
    font-family: 'Inter', sans-serif;

}

.h4a
{
    margin-left: 350px;
    margin-top: 50px;
}

.h4b
{
    margin-left: 820px;
    margin-top: -35px;
}

.h4c
{
    margin-top: 35px;
    margin-left: 305px;
}

.h4d
{
    margin-top: -35px;
    margin-left: 815px;
}

p
{
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.p1
{
    text-align: center;
}

.p1d
{
    width: 380px;
    margin-left: 220px;
}

.p2d
{
    width: 380px;
    margin-left: 740px;
    margin-top: -185px;
}

.p3d
{
    width: 400px;
    margin-left: 200px;
    margin-top: 10px;
}

.p4d
{
    width: 340px;
    margin-left: 760px;
    margin-top: -235px;
}

.imgwt5
{
    width: 200px;
    margin-top: 100px;
    margin-left: 300px;
}

.imgwt6
{
    width: 210px;
    margin-top: 100px;
    margin-left: 300px;
}

.imgwt7
{
    width: 210px;
    margin-top: 100px;
    margin-left: 300px;
}

.imgwt8
{
    width: 210px;
    margin-top: 100px;
    margin-left: 300px;
}

.h4e
{
    margin-left: 300px;
    margin-top: 50px;
}

.h4f
{
    margin-left: 840px;
    margin-top: -39px;
}

.h4g
{
    margin-top: 55px;
    margin-left: 315px;
}

.h4h
{
    margin-top: -35px;
    margin-left: 780px;
}

.p5d
{
    width: 350px;
    margin-left: 230px;
    margin-top: 10px;
}

.p6d
{
    width: 450px;
    margin-left: 700px;
    margin-top: -210px;
}

.p7d
{
    width: 450px;
    margin-left: 180px;
    margin-top: 10px;
}

.p8d
{
    width: 450px;
    margin-left: 720px;
    margin-top: -230px;
}

/*div estatisticas*/

.estatisticas
{
    background-color: #161917;
    height: 1000px;
    margin-top: 644px;
}

.h1
{
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-left: 250px;
    padding-top: 200px;
}

.pb1
{
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.d1b
{
    width: 700px;
    margin-left: 600px;
    margin-top: -60px;
}

h3
{
    font-family: 'Inter', sans-serif;
}

/*quarta div*/

.video
{
    background-color: #DEE4EE;
    height: 1000px;
}

.h1bk
{
    padding-top: 150px;
    margin-left: 280px;
    font-weight: 700;
}

.video-container
{
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 40%;
} 

.video-container iframe
{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 50%;
    height: 80%;   
}

.div5p1
{
    width: 350px;
    margin-left: 100px;
    margin-top: -450px;
}

.div5p2
{
    width: 350px;
    margin-left: 100px;
    margin-top: 50px;
}

.div5p3
{
    width: 350px;
    margin-left: 100px;
    margin-top: 50px;
}

.pvideo
{
    color:#000;
}

/*fotter*/

.fotter
{
    background-color: #182436;
    height: 335px;
}

.imgfotter1
{
    height: 220px;
    margin-left: 150px;
    margin-top: 10px;
}

.imgfotter2
{
    height: 220px;
    margin-left: 100px;
    margin-top: 10px;
}

.imgft
{
    margin-left:-300px;
    margin-top: 280px;
}

.imgft2
{
    margin-left: -160px;
    margin-top: 280px;
}

.imgft3
{
    margin-left: 25px;
    margin-top: 280px;
}

.imgft4
{
    margin-left: 225px;
    margin-top: 280px;
}

.imgft5
{
    margin-left: -235px;
    margin-top: 280px;
}

.imgft6
{
    margin-left: 225px;
    margin-top: 280px;
}

.nomes
{
    margin-top: -200px;
    margin-left: 800px;
    color: #fff;
}

.line
{
    background-color: #fff;
    height: 2px;
    width: 530px;
    margin-left: 800px;
    margin-top: 20px;
    opacity: 0.8;
}

.ori
{
    margin-left: 820px;
    margin-top: 20px;
}

.oritxt
{
    color: #fff;
    font-family: 'Inter', sans-serif;
}
